<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Signup</title>
    <link rel='stylesheet' href='css/styles.css'>
    <link href='https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap' rel='stylesheet'>
</head>

<body>